.social-icons li img {
    display: block;
}

.social-icons li {
    display: inline-block;
    list-style: none;
    background: none;
    padding: 0px;
    margin: 0;
    margin-top: 5px;
}

img {
    outline: 0;
    max-width: 100%;
    height: auto;
}

a {
    color: #366;
    text-decoration: none;
}

.social-icons ul {
    margin: 0;
}

ul {
    list-style-type: disc;
}

.social-icons {
    float: left;
}

#inner_header_wrapper {
    margin: 0 auto;
    position: relative;

    overflow: hidden;
}
.bg-caption{
 background-color: rgba(194, 231, 120, 0.8);

}
.carousel-caption {
    height: 50%;
    transform: translateY(-50%);
    bottom: 0;
    top: 60%;
}



