.social-icons li img {
    display: block;
}

.social-icons li {
    display: inline-block;
    list-style: none;
    background: none;
    padding: 0px;
    margin: 0;
    margin-top: 5px;
}

img {
    outline: 0;
    max-width: 100%;
    height: auto;
}

a {
    color: #366;
    text-decoration: none;
}

.social-icons ul {
    margin: 0;
}

ul {
    list-style-type: disc;
}

.social-icons {
    float: left;
}

#inner_header_wrapper {
    margin: 0 auto;
    position: relative;

    overflow: hidden;
}
.bg-caption{
    border: 0.5px solid black;
    background-color: rgba(194, 231, 120, 0.7);
}

@media (max-width: 1024px) {
    .carousel-inner .carousel-item {
        height: 80vh;
    }

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 80vh;
        object-fit: contain;
    }
}
