.card-landing {
    border: 0;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
  }

  .card-landing .card-title {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-landing .card-body {
    padding: 2rem;
  }

   .big {
    font-size: 100px !important;
    height: 100px !important;
    width: 100px !important;

}
