.navbarSub{
    background-color: #9c3;
}

.footer {
    /* Coloca el footer abajo del todo. */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dropdown-menu {
    background-color: #6c757d!important;
    color: #FFF;
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgba(255,255,255,.9);
    text-decoration: none;
    background-color: #6c757d!important;
}

i.material-icons {
    vertical-align: middle;
    position: relative;
    top: 0px;
}


/* FOOTER */
footer {
    color: white;
}

footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
footer a {
    color: rgba(255,255,255,.5);
}

footer a:hover {
    color: rgba(255,255,255,.8);
}
