:root{
    /* --primary-color: #79b61e; */
    --primary-color:  #2e3440;
    /* --secondary-color: #82c918; */
    --secondary-color: #434c5e;

    --body-color: #4c566a;
    --text-color: #eceff4;
}
